.main-sidebar .sidebar-menu li ul.dropdown-menu li a.active{
    color: #0015b5;
    background-color: rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 14px !important;
    font-weight: bold !important;
}
input.form-control{
    padding: 20px 15px !important;
}
.dropdown a.active{
    color: blue !important;
    background: rgba(0,0,0,0.08);
}
.user-thumb-40{
    width: 40px !important;
    height: 40px;
    object-fit: cover;
    border-radius: 50% !important;
}

.user-thumb-100{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50% !important;
}
.dot-danger{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    padding-bottom: 5px;
}
.icon-40{
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.rating-thumb{
    text-align: center;
}

.rating-thumb span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7583ec;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
}

.stars{
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.stars li{
    display: inline-block;
    margin-right: 15px;
}

.stars li i{
    font-size: 25px;
    color: #ffca68;
}

.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:142%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:78px;
    width:25px
}
.tree li span:not(.glyphicon) {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    padding:4px 9px;
    text-decoration:none
}
.tree li.parent_li>span:not(.glyphicon) {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:78px
}
.tree li.parent_li>span:not(.glyphicon):hover, .tree li.parent_li>span:not(.glyphicon):hover+ul li span:not(.glyphicon) {
    background:#eee;
    border:1px solid #999;
    padding:3px 8px;
    color:#000
}
.manager-tag{
    background-color: #2d48ad;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: white;
}

.manager-tag:hover{
    background-color: #2d48ad !important;
    color: white !important;
}

.superv-tag{
    background-color: #c7b700;
    margin-top: 50px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: white;
}
.superv-tag:hover{
    background-color: #c7b700 !important;
    color: white !important;
}

.teacher-tag{
    background-color: #00a943;
    color: white;
    margin-top: 49px;
}

.thumb-30{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 8px;
}

.thumb-20{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 8px;
}
.tree-skeleton ul {
    list-style: none;
}
.tree-skeleton ul li{
    margin-top: 15px;
}

.q-card{
    width: 100%;
    border: 3px solid rgb(36, 0, 0);
    text-align: right;
    
}
.q-card .title{
    border-bottom: 3px solid rgb(36, 0, 0);
    text-align: center;
    padding: 2px 0;
}

.q-card p{
    font-size: 22px;
    font-weight: bolder !important;
    color: white;
    white-space: pre-line;
    line-height: 2;
    padding: 5px 10px !important;
    background-color: blanchedalmond;
}

.q-card .footer{
    padding-bottom: 10px;
    text-align: center;
}
.teacher-img {
    text-align: center;
    margin-bottom: 50px;
}

.teacher-img img{
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.student-question{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-height: 50px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
    background-color: #d5c1a6;
}

.student-question .body{
    font-size: 24px;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 2;
    white-space: pre-line;
    text-align: center;
}
.congo {
    width: 300px;
    height: auto;
}

.deg{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    transform: rotate(227deg);
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
}
.c-hand{
    cursor: hand !important;
}